p{
    float:right;
    position:relative;
    bottom:15px;
}

section{
    margin-top:100px;
    text-align: center;
}

button{
    background-color:purple;
    color:white;
    border-radius: 50px;
}