nav>p{
    float:right;
    position:relative;
    bottom:15px;
}

body{
    height:auto;
}
/* #startingPage{
    margin-top:150px;
    text-align: center;
} */

.startButton{
    background-color:purple;
    color:white;
    border-radius: 50px;
}

#startingPage, #gamePage, #resultsPage, #highscorePage{
    margin-top:100px;
    text-align: center;
}

#gamePage button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:35px;
    padding:10px;   
}

#hsList{
    list-style-position: inside;
}


footer{
    position:absolute;
    bottom:0;
    width:100%;
}

footer h6{
    text-align: center;
}