p{
    float:right;
    position:relative;
    bottom:15px;
}

body{
    height:auto;
}
section{
    margin-top:150px;
    text-align: center;
}

button{
    background-color:purple;
    color:white;
    border-radius: 50px;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
}

footer h6{
    text-align: center;
}